@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf), format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-LightItalic.ttf), format("truetype");
    font-weight: light;
}

body{
    margin: 0px;
    padding: 0px;
}
.first_sec{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    min-height: 60vh;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.sec_link_text{
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

.header_one{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

a {
    text-decoration: none;
}

.main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
}

.button_action {
    background-color: #3882F6;
}

button {
    color: white;
    width: 100px;
    border-radius: 25px;
    border: 0px;
}

.placeholder {
    width: 500px;
    height: auto;
    align-self: flex-end;
    margin-top: -200px;
}

.info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.info_images{
    width: 240px;
    height: 200px;
}

figure{
    display: table;
}

figcaption{
    display: table-caption;
    caption-side: bottom;
}

.section_two {
    display: flex;
}

.section_three {
    background-color: #E5E7EB;
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
}

.quoter{
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
}

.sign_up{
    border: 1px solid white;
    background-color: transparent;
    align-self: flex-end;
    margin-top: -70px;
    margin-right: 70px;
}

.section_four {
    min-height: 20vh;
    margin: 80px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

h2{
    color: #E5E7EB;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
}

footer{
    background-color: #1F2937;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
