@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-Black.ttf), format("truetype");
    font-weight: bolder;
}
@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto-LightItalic.ttf), format("truetype");
    font-weight: light;
}

body{
    margin: 0px;
    padding: 0px;
}
.first_sec{
    background-color: #1F2937;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    min-height: 70vh;
}
.header_one{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 15px;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    align-self: center;
    margin-left: 55px;
}

nav{
    margin-right: 55px;
}

.nav_a {
    margin-left: 15px;
    margin-right: 15px;
}

.sec_link_text{
    font-size: 18px;
    color: #E5E7EB;
    font-family: 'Roboto', sans-serif;
    font-weight: normal;
}

a {
    text-decoration: none;
}

.main_text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    font-family: 'Roboto', sans-serif;
    margin: 55px;
    margin-top: 80px;   
    width: 45%;
}
.subtext{
    margin-left: 55px;
    width: 50%;
    margin-top: -40px;
}
.button_action {
    background-color: #3882F6;
}

button {
    color: white;
    width: 120px;
    border-radius: 25px;
    border: 0px;
    margin-left: 55px;
    min-height: 30px;
}

.placeholder {
    width: 500px;
    height: auto;
    align-self: flex-end;
    margin-top: -240px;
    margin-right: 70px;
}
.section_two {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.info_images{
    width: 220px;
    height: 190px;
    border-radius: 10px;
}

figure{
    display: table;
}

figcaption{
    display: table-caption;
    caption-side: bottom;
    font-family: 'Roboto', sans-serif;
}

.section_three {
    background-color: #E5E7EB;
    min-height: 20vh;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.quote{
    font-family: 'Roboto', sans-serif;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
    color: #1F2937;
    
}

.quoter{
    font-size: 16px;
    font-weight: bold;
    align-self: flex-end;
    margin-right: 50px;
    margin-bottom: 90px;
}

.sign_up{
    border: 1px solid white;
    background-color: transparent;
    align-self: flex-end;
    margin-top: -70px;
    margin-right: 90px;
    min-height: 30px;
}

.section_four {
    min-height: 20vh;
    margin: 90px;
    border-radius: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

h2{
    color: #E5E7EB;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Roboto', sans-serif;
    margin-top: 25px;
    margin-left: 120px;
}

.newsletter {
    margin-left: 120px;
}

footer{
    background-color: #1F2937;
    min-height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
